@keyframes colorf{
    0%{color: #cc2b5e  ;}
    50%{color: #753a88;}
    100%{color: #cc2b5e;}
}

@keyframes colort{
    0%{color: #56ab2f;}
    50%{color: #a8e063;}
    100%{color: #56ab2f}
}

@keyframes colorth{
    0%{color: #ee09796b;}
    50%{color: #ff6a00;}
    100%{color:#ee0979 ;}
}