@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    padding: 0;
    margin: 0;
}
#head{

}
#title{
    font-family: Staatliches;
    font-size: 45px;

    letter-spacing: 6px;
    padding: 10px 25px;
}

#navbar{

    padding: 10px 25px;
    margin-left: auto;
    display: flex;

    justify-content: space-between;
}

#navbar a{
    font-family: Andika New Basic;
    font-size: 20px;
    text-decoration: none;
    color: #b6b6b6;

    padding: 0px 10px;
    margin: 0px 5px;
    border-radius: 5px;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;

}

#navbar a:hover{
    background-color: #e9e8e8;
}

.act{
    background-color: #e9e8e8;
    
}

#body{
    display: flex;
    justify-content: center;
    align-items: cente;
    padding: 100px 0px;
}

#body h2{
    font-family: Bangers;
    font-size: 60px;
    letter-spacing: 6px;
    
}

#body h2 span:first-child{
    animation: colorf infinite 2s;
}

#body h2 span:nth-child(2){
    animation: colort infinite 2s;
}

#body h2 span:last-child{
    animation: colorth infinite 2s;
}