.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: black;
  padding: 5px 0px;
}

.footer ion-icon {
  font-size: 40px;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
