@import url("https://fonts.googleapis.com/css2?family=K2D&family=Koulen&display=swap");
* {
  padding: 0;
  margin: 0;
}
img {
  width: 200px;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
body::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
}
body::-webkit-scrollbar-thumb {
  display: none;
}

.landing-wrap {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.intro {
  color: white;
  font-size: 108px;
  font-family: Koulen;
  font-weight: 400;
  line-height: 1;
}
.summary {
  text-align: center;
  color: white;
  font-family: K2D;
  width: 800px;
  font-size: 25px;
}

.store-wrap {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.store-heading {
  color: white;
  font-size: 108px;
  font-family: Koulen;
  font-weight: 400;
  line-height: 1;
}
.store-summary {
  text-align: center;
  color: white;
  font-family: K2D;
  width: 800px;
  font-size: 30px;
}
.store-link {
  text-decoration: none;
  color: black;
}
.store-btn {
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: K2D;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  color: #000000;
}

.about-wrap {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-heading {
  color: white;
  font-size: 108px;
  font-family: Koulen;
  font-weight: 400;
  line-height: 1;
}
.about-summary {
  text-align: center;
  color: white;
  font-family: K2D;
  width: 800px;
  font-size: 30px;
}
.cv-link {
  text-decoration: none;
  color: black;
}
.cv-btn {
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: K2D;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  color: #000000;
}
.social-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
ion-icon {
  color: white;
  font-size: 60px;
}

.service-wrap {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-heading {
  color: white;
  font-size: 108px;
  font-family: Koulen;
  font-weight: 400;
  line-height: 1;
}
.service-summary {
  text-align: center;
  color: white;
  font-family: K2D;
  width: 600px;
  font-size: 20px;
}
.service {
  font-family: K2D;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .intro {
    font-size: 50px;
  }
  .summary {
    max-width: 350px;
    font-size: 20px;
  }
  .store-heading {
    font-size: 50px;
  }
  .store-summary {
    max-width: 350px;
    font-size: 20px;
  }
  .about-heading {
    font-size: 50px;
  }
  .about-summary {
    max-width: 350px;
    font-size: 20px;
  }
  ion-icon {
    color: white;
    font-size: 40px;
  }
  .service-heading {
    font-size: 50px;
  }
  .service {
    max-width: 350px;
    font-size: 20px;
  }
}
