* {
  padding: 0;
  margin: 0;
}
#navigation {
  position: fixed; /* Change from absolute to fixed */
  width: 100vw;
  background-color: #ffffff;
  color: #000000;
  top: -50px; /* Move the navigation off-screen initially */
  transition: top 0.3s; /* Add smooth transition for better visual effect */
}

#navigation.scrolled {
  top: 0;
}

#nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: #000000;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#links a {
  text-decoration: none;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* intro */
#intro {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
#intro img {
  width: 5%;
}
#intro h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#intro p {
  text-align: justify;
  width: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* others */
#others {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
#others button {
  border: none;
  font-size: 20px;
  padding: 10px;
}
#others p {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* services */
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-description {
  width: 500px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.item {
  padding: 5px 0;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#services h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* contact */
#contact {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-description {
  width: 500px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}

#contact ion-icon {
  color: #000000;
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  #intro img {
    width: 40%;
  }

  #intro p {
    width: 90vw;
    font-size: 15px;
  }

  .services-description {
    width: 90vw;
    font-size: 15px;
  }
  .contact-description {
    width: 90vw;
    font-size: 15px;
  }
}
