@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.nav-wrap {
  position: sticky;
  width: calc(100% - 20px); /* considering 10px padding on both sides */
  padding: 5px 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: rgb(252, 252, 252);
  background-color: black;
}
/* ... (other styles) ... */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
.header {
  margin-right: 10px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.link {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  margin-left: 20px;
}
.link > a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: inherit;
}
.store-btn {
  padding: 5px;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
}

.menu-btn {
  display: none;
}
.menu-btn button {
  border: solid 1px rgb(255, 255, 255);
  background-color: inherit;
  color: inherit;
  padding: 5px 10px;
}
.mobile-navbar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.mobile-navbar h1 {
  padding: 0;
  margin: 0;
}
.mobile-navbar a {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: inherit;
}
.store-btn-mobile {
  background-color: yellow;
  width: 100%;
  text-align: center;
  color: black;
}

@media (max-width: 880px) {
  .link {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .mobile-navbar {
    display: flex;
  }
}
