* {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 30px; /* Adjust the padding-top value based on your design */
}

#navigation {
  position: fixed;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  top: 0;
  z-index: 1000;
}

#nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: #ffffff;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#links a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

#intro {
  padding: 20px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: monospace;
}

#posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap based on your design */
}

.post-container {
  padding: 20px; /* Add padding to the container */
  border: 1px solid #ccc; /* Add border for better visual separation */
}

#posts iframe {
  width: 100%;
  border: none;
  height: 500px; /* Allow iframes to use their original size */
}
@media screen and (max-width: 768px) {
  #posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .post-container {
    padding: 0px; /* Add padding to the container */
    border: none; /* Add border for better visual separation */
  }
}
