@import url("https://fonts.googleapis.com/css2?family=K2D&family=Koulen&display=swap");
* {
  padding: 0;
  margin: 0;
}
img {
  width: 100px;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
body::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
}
body::-webkit-scrollbar-thumb {
  display: none;
}

.store-wrap {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.store-heading {
  color: white;
  font-size: 108px;
  font-family: Koulen;
  font-weight: 400;
  line-height: 1;
}
.store-summary {
  text-align: center;
  color: white;
  font-family: K2D;
  width: 800px;
  font-size: 30px;
}
.store-link {
  text-decoration: none;
  color: black;
}
.store-btn {
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: K2D;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  color: black;
}

.store-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 20px;
}

.store-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  gap: 30px;
}

.store-card {
  background-color: white;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Align content in a column */
  justify-content: space-between; /* Space between the elements */
}

.card-title {
  text-align: center;
  font-family: Koulen;
}
.tags {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.tag {
  font-family: k2d;
  color: white;
  background-color: #000000;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}
.description {
  font-family: k2d;
  text-align: center;
  font-size: 30px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Push buttons to the bottom */
}
.btns a {
}
.btns a ion-icon {
  color: black;
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .store-heading {
    font-size: 50px;
  }
  .store-summary {
    max-width: 350px;
    font-size: 20px;
  }
  .store-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    gap: 30px;
  }
  img {
    width: 50px;
  }
}
