.post-container {
  margin-top: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}

.post-card {
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 5px;
  transition: transform 0.2s;
  background-color: #fff;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.post-card:hover {
  transform: scale(1.1);
  height: auto;
  width: 200px;
  overflow: visible;
}

.post-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
}
.post-title > a {
  text-decoration: none;
  color: black;
}

.desc {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .post-container {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}
